table,th,td{
  border:1px solid #333;
  border-collapse: collapse;
  padding:5px;
}
table{
  margin-top:50px ;
}
.sign-up-form-btn-submit{
background: rgb(106, 184, 106);
}
.sign-up-form-btn-submit:hover:enabled{
background: rgb(32, 97, 32);
color:white
}
.sign-up-form-btn-update:not(.nohover){
  background: rgba(59, 179, 59, 0.5);
}
.sign-up-form-btn-update:hover:enabled{
  background: rgb(32, 97, 32);
  color:white  
}
.sign-up-form-btns{
  margin:15px 0;
  display: flex;
  justify-content: space-around;
}
.sign-up-form-btns button{
  width: 40%;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
h2 hr{
  width: 30%;
padding:1px 0;
background: pink;
border:none;
border-radius: 10px;
}
.text-center{
  text-align:center
}