.sign-up-form-radios {
    display: flex;
    justify-content: space-around;
}

input[type='radio'] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 5px;
}

.sign-up-form-radio span {
    display: flex;
    align-items: center;
    transform: translateY();
}
.container {
    border-radius: 5px;
    max-width: 485px;
    padding: 0 20px;
    margin: auto;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  .form-group input, .form-sign-up-textarea, select{
    width: 100%;
    padding:13px 15px;
    border:1px solid #ccc;
    border-radius:4px;
    background: #fff;
  }
  .form-sign-up-textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;
  }
  .form-group input:focus-within, textarea:focus-within,select:focus-within{
    outline: 1px solid #b5b4b9;
  }
  #sign-up-form{
    padding:15px 0
  }
  *{
    box-sizing: border-box;
  }
  .errMessage, label span{
    color: red;
  }
  .errMessage{
    position: absolute;
    top:101%;
    left: 0;
    font-size: 0.9rem;
  }
  label{
    margin-top: 20px;
    display: block;
  }
  .form-group{
    position: relative;
  }